	<div class="span4 well lform">
				<div class="row">
					<div class="span4">
							 <%= raw @page.content_for(:side_slide) %>
					</div>
				</div>

	</div>

	<div class="span7 home_carousel no_margin_left pull-right">
		<!-- Start slideshow-carousel -->
		
		<div id="carousel-loader">
			
		</div>		
		<!-- Slider -->
			    <div id="carousel" class="showcase">
							<div class="showcase-slide">
									<div class="showcase-content">
						    		<% @page.images.each_with_index do |img| %>      
								        <%= image_tag img.url %>
						        <% end %>  								
									</div>
							</div>
			    </div>
			<!-- Slider -->  
		
			
		<!-- // end of slideshow-carousel -->
		
	</div>


</div>

<div class="row">
	<div class="span4">
		<h3><span>Latest</span> properties</h3>
		
		
		<%#= render '/refinery/content_page' %>
		
		
		
		
		<a href="map_properties.html"><img src="css/images/latest_properties.jpg" alt="" /></a>
		<p>Sign up for our weekly newsletter and stay up-to-date with the latest offers, and newest products.<a href="map_properties.html" class="pull-right">more...</a></p>
	</div>		
	<div class="span4">
		<h3><span>New</span> homes</h3>
		<a href="listings.html"><img src="css/images/new_homes.png" alt="" /></a>
		<p>Sign up for our weekly newsletter and stay up-to-date with the latest offers, and newest products.<a href="listings.html" class="pull-right">more...</a></p>
	</div>		
	<div class="span4">
		<h3><span>Homes</span> abroad</h3>
		<a href="listings.html"><img src="css/images/homes_abroad.png" alt="" /></a>
		<p>Sign up for our weekly newsletter and stay up-to-date with the latest offers, and newest products.<a href="listings.html" class="pull-right">more...</a></p>
	</div>		
</div>		

